
<!-- MAIN WRAPPER -->
<div class="body-wrap shop-default shop-minimalist">
    <div id="st-container" class="st-container">

       <%= render 'nav_slide' %>
       
        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">
                    <!-- Header -->
                    <div class="header">
    <!-- Top Bar -->
    
<%= render 'global_search' %>

<%= render 'navbar' %>

</div>

<%= render 'slider' %>

<%= render 'featured_categories' %>

<%= render 'trending_products' %>

<%= render 'delivery_proof' %>

<%= render 'minimal_news' %>

<%= render 'footer' %>

                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->